<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-8 col-md-offset-2">
      <h2>Student Check In</h2>
      <form #checkInStudentsForm="ngForm" (ngSubmit)="checkStudentsIn(checkInStudentsForm)">
        <ng-container *ngFor="let student of students; let i = index">
          <div class="form-group">
            <label for="checkInBy-{{i}}">Who is checking {{student.fname}} in?</label>
            <select name="checkInBy-{{i}}" class="custom-select" required id="checkInBy-{{i}}">
              <option></option>
              <option value="Father">Father</option>
              <option value="Mother">Mother</option>
              <option value="Employee">Employee</option>
              <option value="Other">Other</option>
            </select>
          </div>
        </ng-container>
        <button type="submit" class="btn btn-primary" [disabled]="!checkInStudentsForm.form.valid">Check In</button>
        <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
      </form>
    </div>
  </div>
</div>
