<div class="container">
  <app-context-help [pageName]="'sign-in'"></app-context-help>
  <p-growl [(value)]="msgs" [baseZIndex]="9999"></p-growl>
  <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
    <input #gb type="text" pInputText size="50" placeholder="Global Filter">
  </div>
  <p-dataTable [value]="students | orderBy: order" [rows]="10" [paginator]="true" [pageLinks]="3"
               [(selection)]="selectedStudents" [loading]="studentsLoading" loadingIcon="fa-spinner" [globalFilter]="gb"
               #dt>
    <p-header>Select students to sign in</p-header>
    <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
    <p-column field="fname" header="First Name" [sortable]="true"></p-column>
    <!--<p-column field="mi" header="Middle Initial"></p-column>-->
    <p-column field="lname" header="Last Name" [sortable]="true"></p-column>
    <p-footer>
      <button type="button" class="btn btn-success" [disabled]="selectedStudents.length === 0"
              (click)="goToCheckInDetails()">
        <i class="fa fa-check"></i>
        Sign In
      </button>
    </p-footer>
  </p-dataTable>
</div>
