<div class="container">
  <div class="row" *ngIf="displayFamilyForm === false">
    <div class="col col-lg-10">
      <h2>{{family.familyName}}</h2>
    </div>
    <div class="col col-lg-2">
      <button *ngIf="admin === true" type="button" class="btn btn-primary" (click)="showUpdateFamilyForm()">
        <i class="fa fa-pencil"></i>
        Edit Family Name
      </button>
    </div>
  </div>
  <form *ngIf="displayFamilyForm === true" #updateFamilyForm="ngForm" (ngSubmit)="updateFamilyName()">
    <div class="form-group">
      <label for="familyname">Family Name</label>
      <input type="text" name="familyname" class="form-control" required id="familyname" placeholder="Family Name"
             value="{{family.familyName}}"
             [(ngModel)]="editableFamily.familyName" #familyFamilyName="ngModel">
      <small *ngIf="!familyFamilyName.valid" class="text-danger">
        Family name is required.
      </small>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!updateFamilyForm.form.valid">Save</button>
    <button type="button" class="btn btn-secondary" (click)="hideUpdateFamilyForm()">Cancel</button>
  </form>
  <br>
  <h5 *ngIf="admin === true">Select a student or guardian to edit or delete</h5>
  <app-error-alert [status]="familyStatus"></app-error-alert>
  <br>
  <app-error-alert [status]="studentsStatus"></app-error-alert>

  <div class="row justify-content-md-center">
    <!--TODO: Maybe make it so only admins can select rows-->
    <p-dataTable [value]="students" selectionMode="single" [(selection)]="selectedStudent" [loading]="studentsLoading"
                 loadingIcon="fa-spinner" (onRowSelect)="onStudentSelect($event)" [metaKeySelection]="false"
                 [responsive]="true">
      <p-header>Students</p-header>
      <p-column field="fname" header="First Name"></p-column>
      <p-column field="mi" header="Middle Initial"></p-column>
      <p-column field="lname" header="Last Name"></p-column>
      <p-column field="notes" header="Notes"></p-column>
      <p-footer>
        <div class="ui-helper-clearfix" style="width:100%">
          <button *ngIf="admin === true" type="button" pButton icon="fa-plus" style="float:left"
                  (click)="showDialogToAddStudent()"
                  label="Add new student"></button>
        </div>
      </p-footer>
    </p-dataTable>
    <br>
    <p-dataTable [value]="guardians" selectionMode="single" [(selection)]="selectedGuardian"
                 [loading]="guardiansLoading" [metaKeySelection]="false"
                 loadingIcon="fa-spinner" (onRowSelect)="onGuardianSelect($event)" [responsive]="true">
      <p-header>Guardians</p-header>
      <p-column field="fname" header="First Name"></p-column>
      <p-column field="mi" header="Middle Initial"></p-column>
      <p-column field="lname" header="Last Name"></p-column>
      <p-column field="relationship" header="Relationship"></p-column>
      <p-column field="primPhone" header="Primary Phone"></p-column>
      <p-column field="secPhone" header="Secondary Phone"></p-column>
      <p-footer>
        <div class="ui-helper-clearfix" style="width:100%">
          <button *ngIf="admin === true" type="button" pButton icon="fa-plus" style="float:left"
                  (click)="showDialogToAddGuardian()"
                  label="Add new guardian"></button>
        </div>
      </p-footer>
    </p-dataTable>
    <br>

    <p-dialog header="Student Details" [(visible)]="displayStudentDialog" [responsive]="true" showEffect="fade"
              [modal]="true" [minWidth]="240" [width]="400" [minHeight]="485" [height]="560">
      <app-error-alert [status]="studentStatus"></app-error-alert>
      <form *ngIf="student" #studentDetailsForm="ngForm" (ngSubmit)="saveStudent(student)">
        <div class="form-group">
          <label for="studentFname">First Name</label>
          <input type="text" name="fname" class="form-control" required id="studentFname" placeholder="First Name"
                 [(ngModel)]="student.fname" #studentFname="ngModel">
          <small [hidden]="studentFname.valid" class="text-danger">
            First name is required.
          </small>
        </div>
        <div class="form-group">
          <label for="studentMi">Middle Initial</label>
          <input type="text" name="mi" class="form-control" required id="studentMi" placeholder="Middle Initial"
                 [(ngModel)]="student.mi" maxlength="1" #studentMi="ngModel">
          <small [hidden]="studentMi.valid" class="text-danger">
            Middle initial is required (maximum 1 character).
          </small>
        </div>
        <div class="form-group">
          <label for="studentLname">Last Name</label>
          <input type="text" name="lname" class="form-control" required id="studentLname" placeholder="Last Name"
                 [(ngModel)]="student.lname" #studentLname="ngModel">
          <small [hidden]="studentLname.valid" class="text-danger">
            Last name is required.
          </small>
        </div>
        <div class="form-group">
          <label for="studentNotes">Notes</label>
          <textarea type="text" name="notes" class="form-control" id="studentNotes"
                    placeholder="Write any special notes about the student here (optional)"
                    [(ngModel)]="student.notes"></textarea>
        </div>
        <button *ngIf="admin === true" type="submit" pButton icon="fa-check"
                [disabled]="!studentDetailsForm.form.valid" label="Save"></button>
        <button *ngIf="newStudent === false && admin === true" type="button" pButton icon="fa-close"
                (click)="deleteStudent(student._id)" label="Delete"></button>
      </form>
    </p-dialog>


    <p-dialog header="Guardian Details" [(visible)]="displayGuardianDialog" [responsive]="true" showEffect="fade"
              [modal]="true" [minWidth]="278" [width]="550" [minHeight]="684" [height]="820">
      <app-error-alert [status]="guardianStatus"></app-error-alert>

      <form *ngIf="guardian" #guardianDetailsForm="ngForm" (ngSubmit)="saveGuardian(guardian)">
        <div class="form-group">
          <label for="guardianFname">First Name</label>
          <input type="text" name="fname" class="form-control" required id="guardianFname" placeholder="First Name"
                 [(ngModel)]="guardian.fname" #guardianFname="ngModel">
          <small [hidden]="guardianFname.valid" class="text-danger">
            First name is required.
          </small>
        </div>
        <div class="form-group">
          <label for="guardianMi">Middle Initial</label>
          <input type="text" name="mi" class="form-control" required id="guardianMi" placeholder="Middle Initial"
                 [(ngModel)]="guardian.mi" #guardianMi="ngModel" maxlength="1">
          <small [hidden]="guardianMi.valid" class="text-danger">
            Middle initial is required (maximum 1 character).
          </small>
        </div>
        <div class="form-group">
          <label for="guardianLname">Last Name</label>
          <input type="text" name="lname" class="form-control" required id="guardianLname" placeholder="Last Name"
                 [(ngModel)]="guardian.lname" #guardianLname="ngModel">
          <small [hidden]="guardianLname.valid" class="text-danger">
            Last name is required.
          </small>
        </div>
        <div class="form-group">
          <label for="guardianRelationship">Relationship</label>
          <select name="relationship" class="custom-select" required id="guardianRelationship"
                  [(ngModel)]="guardian.relationship" #guardianRelationship="ngModel">
            <option></option>
            <option value="Father">Father</option>
            <option value="Mother">Mother</option>
            <option value="Grandfather">Grandfather</option>
            <option value="Grandmother">Grandmother</option>
            <option value="Stepfather">Stepfather</option>
            <option value="Stepmother">Stepmother</option>
            <option value="Aunt">Aunt</option>
            <option value="Uncle">Uncle</option>
            <option value="Neighbor">Neighbor</option>
            <option value="Other">Other</option>
          </select>
          <small [hidden]="guardianRelationship.valid" class="text-danger">
            Relationship is required.
          </small>
        </div>
        <div class="form-group">
          <label for="guardianPrimPhone">Primary Phone</label>
          <input type="text" name="primPhone" class="form-control" required id="guardianPrimPhone"
                 placeholder="+1 (123) 456-7890"
                 pattern="\+\d \(\d{3}\) \d{3}-\d{4}" [textMask]="{mask: mask}" [(ngModel)]="guardian.primPhone"
                 #guardianPrimPhone="ngModel">
          <small [hidden]="guardianPrimPhone.valid" class="text-danger">
            Primary phone is required (must match pattern +1 (111) 111-1111).
          </small>
        </div>
        <div class="form-group">
          <label for="guardianSecPhone">Secondary Phone</label>
          <input type="text" name="secPhone" class="form-control" id="guardianSecPhone"
                 placeholder="+1 (123) 456-7890 (optional)"
                 pattern="\+\d \(\d{3}\) \d{3}-\d{4}" [textMask]="{mask: mask}" [(ngModel)]="guardian.secPhone"
                 #guardianSecPhone="ngModel">
          <small [hidden]="guardianSecPhone.valid" class="text-danger">
            Must match pattern +1 (111) 111-1111.
          </small>
        </div>
        <div class="form-group">
          <label for="guardianEmail">Email</label>
          <input type="text" name="email" class="form-control" required id="guardianEmail" placeholder="Email"
                 pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"
                 [(ngModel)]="guardian.email" #guardianEmail="ngModel">
          <small [hidden]="guardianEmail.valid" class="text-danger">
            Email address is required (must match pattern example@example.com).
          </small>
        </div>
        <button *ngIf="admin === true" type="submit" pButton icon="fa-check"
                [disabled]="!guardianDetailsForm.form.valid" label="Save"></button>
        <button *ngIf="newGuardian === false && admin === true" type="button" pButton icon="fa-close"
                (click)="deleteGuardian(guardian._id)" label="Delete"></button>
      </form>
    </p-dialog>
  </div>
  <div *ngIf="admin === true" class="row justify-content-md-center">
    <div class="col col-lg-2">
      <button *ngIf="admin === true" type="button" class="btn btn-danger" (click)="deleteFamily()">
        Delete This Family
      </button>
    </div>
    <div class="col col-lg-2">
      <app-back-button></app-back-button>
    </div>
  </div>
  <div *ngIf="admin === false" class="row justify-content-center">
    <app-back-button></app-back-button>
  </div>
</div>
