<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-8 col-md-offset-2">
      <app-context-help [pageName]="'sign-out-details'"></app-context-help>
      <h2>Student Sign Out</h2>
      <p-growl [(value)]="msgs" [baseZIndex]="9999" [sticky]="true"></p-growl>
      <div *ngIf="students.length > 0">
        <form #checkOutStudentsForm="ngForm" (ngSubmit)="updateStudentCheckedInStatus(checkOutStudentsForm)">
          <div class="form-group">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="allCheckedOutByEmployee"
                     [(ngModel)]="allCheckedOutByEmployee">
              Check if all students are being signed out by an employee
            </label>
          </div>
          <hr>
          <ng-container *ngFor="let student of students; let i = index">
            <div class="form-group">
              <label for="checkOutBy-{{i}}">Who is signing {{student.fname}} {{student.lname}} out?</label>
              <select name="checkOutBy-{{i}}" class="form-control" required id="checkOutBy-{{i}}"
                      [disabled]="allCheckedOutByEmployee" #checkOutBy ngModel>
                <option></option>
                <ng-container *ngFor="let guardian of guardianArray[i]">
                  <option value="{{guardian.fname}} {{guardian.lname}}">{{guardian.fname}} {{guardian.lname}}</option>
                </ng-container>
                <option value="{{fullName}}">{{fullName}}</option>
              </select>
            </div>
            <ng-container *ngIf="extraItems.length > 0">
              <label>Select which extra items {{student.fname}} {{student.lname}} had</label>
              <br>
              <div class="form-check" *ngFor="let extraItem of extraItems; let j = index">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" name="extraItem-{{i}}-{{j}}"
                         value="{{extraItem.itemName}}" #extraItems ngModel>
                  {{extraItem.itemName}}
                </label>
              </div>
            </ng-container>
            <div class="form-group">
              <label for="lineItemNotes-{{i}}">Notes</label>
              <textarea name="lineItemNotes-{{i}}" type="text" class="form-control" id="lineItemNotes-{{i}}"
                        #lineItemNotes ngModel
                        placeholder="Write any notes about {{student.fname}} {{student.lname}}'s day here (optional)"></textarea>
            </div>
            <div *ngIf="students.length > 1 && i !== students.length - 1">
              <hr>
            </div>
          </ng-container>
          <button type="submit" class="btn btn-primary" [disabled]="!checkOutStudentsForm.form.valid">
            <i class="fa fa-check"></i>
            Sign Out
          </button>
          <button type="button" class="btn btn-secondary" (click)="cancel()">
            <i class="fa fa-ban"></i>
            Cancel
          </button>
        </form>
      </div>
      <div *ngIf="students.length === 0">
        <p>No students selected</p>
      </div>
    </div>
  </div>
</div>
