<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-8 col-md-offset-2">
      <h2>Student Check Out</h2>
      <app-error-alert [status]="studentsStatus"></app-error-alert>
      <br>
      <app-error-alert [status]="guardiansStatus"></app-error-alert>
      <div *ngIf="students.length > 0">
        <form #checkOutStudentsForm="ngForm" (ngSubmit)="updateStudentCheckedInStatus(checkOutStudentsForm)">
          <ng-container *ngFor="let student of students; let i = index">
            <div class="form-group">
              <label for="checkOutBy-{{i}}">Who is checking {{student.fname}} {{student.lname}} out?</label>
              <select name="checkOutBy-{{i}}" class="form-control" required id="checkOutBy-{{i}}" #checkOutBy ngModel>
                <option></option>
                <ng-container *ngFor="let guardian of guardianArray[i]">
                  <option value="{{guardian.fname}} {{guardian.lname}}">{{guardian.fname}} {{guardian.lname}}</option>
                </ng-container>
                <option value="{{fullName}}">{{fullName}}</option>
                <option value="Other">Other</option>
              </select>
            </div>
            <div class="form-group">
              <label for="lineItemNotes-{{i}}">Notes</label>
              <textarea name="lineItemNotes-{{i}}" type="text" class="form-control" id="lineItemNotes-{{i}}" #lineItemNotes ngModel
                        placeholder="Write any notes about {{student.fname}}'s day here (optional)"></textarea>
            </div>
            <!--TODO: Add option to select extra items-->
          </ng-container>
          <button type="submit" class="btn btn-primary" [disabled]="!checkOutStudentsForm.form.valid">
            <i class="fa fa-check"></i>
            Check Out
          </button>
          <button type="button" class="btn btn-secondary" (click)="cancel()">
            <i class="fa fa-ban"></i>
            Cancel
          </button>
        </form>
      </div>
      <div *ngIf="students.length === 0">
        <p>No students selected</p>
      </div>
    </div>
  </div>
</div>
