<app-context-help [pageName]="'invoices'"></app-context-help>
<p-growl [(value)]="msgs" [baseZIndex]="9999" [sticky]="true"></p-growl>
<p-dataTable [value]="invoicesToDisplay | orderBy: 'invoiceDate' : true" [rows]="10" [paginator]="true" [pageLinks]="3"
             [(selection)]="selectedInvoice" [loading]="invoicesLoading" loadingIcon="fa-spinner" sortMode="multiple"
             #dt>
  <p-header>All Invoices</p-header>
  <p-column [style]="{'width':'38px'}" selectionMode="single"></p-column>
  <p-column field="familyName" header="Family Name" [style]="{'word-wrap':'break-word'}" [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
  <p-column field="totalCost" header="Total Cost" [style]="{'word-wrap':'break-word'}">
    <ng-template let-col let-rate="rowData" pTemplate="body">
      {{rate[col.field]|currency}}
    </ng-template>
  </p-column>
  <p-column field="invoiceDate" header="Invoice Date" [style]="{'word-wrap':'break-word'}" [sortable]="true">
    <ng-template let-col let-rate="rowData" pTemplate="body">
      {{rate[col.field]|date }}
    </ng-template>
  </p-column>
  <p-column field="paid" header="Paid" [style]="{'word-wrap':'break-word'}" [filter]="true" filterMatchMode="equals">
    <ng-template pTemplate="filter" let-col>
      <p-dropdown [options]="paidOptions" [style]="{'width':'100%'}"
                  (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)"
                  styleClass="ui-column-filter"></p-dropdown>
    </ng-template>
  </p-column>
  <p-footer>
    <app-download-invoice [selectedInvoice]="selectedInvoice"></app-download-invoice>
    <button type="button" class="btn btn-primary" (click)="markAsPaid(selectedInvoice)"
            [disabled]="selectedInvoice == null">
      <i class="fa fa-check"></i>
      Mark Selected Invoice as Paid
    </button>
    <button type="button" class="btn btn-danger" (click)="confirmDeleteInvoice(selectedInvoice._id)"
            [disabled]="selectedInvoice == null">
      <i class="fa fa-trash"></i>
      Delete Selected Invoice
    </button>
  </p-footer>
</p-dataTable>
<p-confirmDialog></p-confirmDialog>
