<div class="row justify-content-center">
  <div class="col-6">
    <p-dataTable [(value)]="students" [loading]="studentsLoading" loadingIcon="fa-spinner">
      <p-header>Students</p-header>
      <p-column field="fname" header="First Name" [style]="{'word-wrap':'break-word'}"></p-column>
      <p-column field="lname" header="Last Name" [style]="{'word-wrap':'break-word'}"></p-column>
    </p-dataTable>
  </div>
  <div class="col-6">
    <app-context-help [pageName]="'invoice-details'"></app-context-help>
    <p-dataTable [(value)]="guardians" [loading]="guardiansLoading" loadingIcon="fa-spinner">
      <p-header>Guardians</p-header>
      <p-column field="fname" header="First Name" [style]="{'word-wrap':'break-word'}"></p-column>
      <p-column field="lname" header="Last Name" [style]="{'word-wrap':'break-word'}"></p-column>
    </p-dataTable>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-12">
    <br>
    <p-growl [(value)]="msgs" [baseZIndex]="9999" [sticky]="true"></p-growl>
    <p-dataTable [value]="invoices | orderBy: 'invoiceDate' : true" [rows]="10" [paginator]="true" [pageLinks]="3"
                 [(selection)]="selectedInvoice" [loading]="invoicesLoading" loadingIcon="fa-spinner"
                 sortMode="multiple" #dt>
      <p-header>Invoices</p-header>
      <p-column [style]="{'width':'38px'}" selectionMode="single"></p-column>
      <p-column field="totalCost" header="Total Cost" [style]="{'word-wrap':'break-word'}">
        <ng-template let-col let-rate="rowData" pTemplate="body">
          {{rate[col.field]|currency}}
        </ng-template>
      </p-column>
      <p-column field="invoiceDate" header="Invoice Date" [style]="{'word-wrap':'break-word'}" [sortable]="true">
        <ng-template let-col let-rate="rowData" pTemplate="body">
          {{rate[col.field]|date }}
        </ng-template>
      </p-column>
      <p-column field="paid" header="Paid" [style]="{'word-wrap':'break-word'}" [filter]="true" filterMatchMode="equals">
        <ng-template pTemplate="filter" let-col>
          <p-dropdown [options]="paidOptions" [style]="{'width':'100%'}"
                      (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)"
                      styleClass="ui-column-filter"></p-dropdown>
        </ng-template>
      </p-column>
      <p-footer>
        <app-download-invoice [selectedInvoice]="selectedInvoice"></app-download-invoice>
        <button type="button" class="btn btn-primary" (click)="markAsPaid(selectedInvoice)"
                [disabled]="selectedInvoice == null">
          <i class="fa fa-check"></i>
          Mark Selected Invoice as Paid
        </button>
        <button type="button" class="btn btn-danger" (click)="confirmDeleteInvoice(selectedInvoice._id)"
                [disabled]="selectedInvoice == null">
          <i class="fa fa-trash"></i>
          Delete Selected Invoice
        </button>
      </p-footer>
    </p-dataTable>
    <p-confirmDialog></p-confirmDialog>
    <br>
  </div>
</div>
<div class="row justify-content-center">
  <app-back-button></app-back-button>
</div>
