<div class="container">
  <!--TODO: add notification for line items in different days-->
  <!--TODO: Add word wrap on all fields-->
  <!--TODO: Add alert that there is an annual registration fee-->
  <div class="row justify-content-center">
    <div class="col-6">
      <p-dataTable [value]="students" [loading]="studentsLoading" loadingIcon="fa-spinner">
        <p-header>Students</p-header>
        <p-column field="fname" header="First Name" [style]="{'word-wrap':'break-word'}"></p-column>
        <p-column field="lname" header="Last Name" [style]="{'word-wrap':'break-word'}"></p-column>
      </p-dataTable>
    </div>
    <div class="col-6">
      <app-context-help [pageName]="'create-invoice-details'"></app-context-help>
      <p-dataTable [value]="guardians" [loading]="guardiansLoading" loadingIcon="fa-spinner">
        <p-header>Guardians</p-header>
        <p-column field="fname" header="First Name" [style]="{'word-wrap':'break-word'}"></p-column>
        <p-column field="lname" header="Last Name" [style]="{'word-wrap':'break-word'}"></p-column>
      </p-dataTable>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12">
      <br>
      <h5>Select a line item to edit or delete</h5>
      <p-growl [(value)]="msgs" [baseZIndex]="9999" [sticky]="true"></p-growl>
      <p-dataTable [value]="lineItemsToDisplay | orderBy: 'checkIn' : true" selectionMode="single" [rows]="5" [paginator]="true" [pageLinks]="3"
                   [(selection)]="selectedLineItem" [loading]="lineItemsLoading" loadingIcon="fa-spinner"
                   (onRowSelect)="onLineItemSelect($event)" [metaKeySelection]="false" [responsive]="true">
        <p-header>Line Items</p-header>
        <p-column field="studentName" header="Student Name" [style]="{'word-wrap':'break-word'}"></p-column>
        <p-column field="checkIn" header="Sign In Time" [style]="{'word-wrap':'break-word'}">
          <ng-template let-col let-rate="rowData" pTemplate="body">
            {{rate[col.field]|date:'medium' }}
          </ng-template>
        </p-column>
        <p-column field="checkInBy" header="Signed In By" [style]="{'word-wrap':'break-word'}"></p-column>
        <p-column field="checkOut" header="Sign Out Time" [style]="{'word-wrap':'break-word'}">
          <ng-template let-col let-rate="rowData" pTemplate="body">
            {{rate[col.field]|date:'medium' }}
          </ng-template>
        </p-column>
        <p-column field="checkOutBy" header="Signed Out By" [style]="{'word-wrap':'break-word'}"></p-column>
        <p-column field="notes" header="Notes" [style]="{'word-wrap':'break-word'}"></p-column>
        <p-column field="serviceType" header="Service Type" [style]="{'word-wrap':'break-word'}"></p-column>
        <p-footer>
          <div class="ui-helper-clearfix" style="width:100%">
            <button type="button" pButton icon="fa-plus" class="ui-button-success" style="float:left"
                    (click)="showDialogToAddLineItem()"
                    label="Add new line item"></button>
          </div>
        </p-footer>
      </p-dataTable>
    </div>
    <br>

    <form *ngIf="lineItem" #lineItemDetailsForm="ngForm" (ngSubmit)="saveLineItem(lineItem)">
      <p-dialog header="Line Item Details" [(visible)]="displayLineItemDialog" [responsive]="true" showEffect="fade"
                [modal]="true" [width]="500" [resizable]="false">
        <!--[modal]="true" [minWidth]="240" [width]="400" [minHeight]="485" [height]="560">-->
        <div class="form-group" *ngIf="newLineItem == true">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="extraItem" [(ngModel)]="lineItem.extraItem">
            Check if this is an extra item
          </label>
        </div>
        <div class="form-group">
          <label for="studentName">Student</label>
          <select name="studentID" class="form-control" required id="studentName"
                  [(ngModel)]="lineItem.studentID" #studentName="ngModel">
            <option></option>
            <option *ngFor="let student of students" [value]="student._id">{{student.fname}} {{student.lname}}</option>
          </select>
          <small [hidden]="studentName.valid" class="text-danger">
            Student name is required.
          </small>
        </div>
        <div class="form-group">
          <label for="checkIn">Sign In Time</label>
          <br>
          <p-calendar name="checkIn" id="checkIn" [(ngModel)]="lineItem.checkIn" #checkIn="ngModel"
                      [disabled]="lineItem.extraItem == true" [showTime]="true" hourFormat="12"
                      [required]="lineItem.extraItem == false" [showIcon]="true" [disabledDays]="[0,6]"></p-calendar>
          <br>
          <small [hidden]="checkIn.valid || lineItem.extraItem == true" class="text-danger">
            Check in time is required.
          </small>
        </div>
        <div class="form-group">
          <label for="checkOut">Sign Out Time</label>
          <br>
          <p-calendar name="checkOut" id="checkOut" [(ngModel)]="lineItem.checkOut"
                      [disabled]="lineItem.extraItem == true" #checkOut="ngModel" [showTime]="true" hourFormat="12"
                      [required]="lineItem.extraItem == false" [showIcon]="true" [disabledDays]="[0,6]"></p-calendar>
          <br>
          <small [hidden]="checkOut.valid || lineItem.extraItem == true" class="text-danger">
            Check out time is required.
          </small>
        </div>
        <div class="form-group">
          <label for="checkInBy">Signed In By</label>
          <select name="checkInBy" class="form-control" [required]="lineItem.extraItem == false" id="checkInBy"
                  [disabled]="lineItem.extraItem == true" [(ngModel)]="lineItem.checkInBy" #checkInBy="ngModel">
            <option></option>
            <option *ngFor="let guardian of guardians" [value]="guardian.fname + ' ' + guardian.lname">
              {{guardian.fname}}
              {{guardian.lname}}
            </option>
            <option *ngFor="let user of users" [value]="user.firstname + ' ' + user.lastname">{{user.firstname}}
              {{user.lastname}}
            </option>
            <option value="Other" [disabled]="!lineItem.extraItem">Other</option>
          </select>
          <small [hidden]="checkInBy.valid || lineItem.extraItem == true" class="text-danger">
            Checked in by is required.
          </small>
        </div>
        <div class="form-group">
          <label for="checkOutBy">Signed Out By</label>
          <select name="checkOutBy" class="form-control" [required]="lineItem.extraItem == false" id="checkOutBy"
                  [disabled]="lineItem.extraItem == true" [(ngModel)]="lineItem.checkOutBy" #checkOutBy="ngModel">
            <option></option>
            <option *ngFor="let guardian of guardians" [value]="guardian.fname + ' ' + guardian.lname">
              {{guardian.fname}}
              {{guardian.lname}}
            </option>
            <option *ngFor="let user of users" [value]="user.firstname + ' ' + user.lastname">{{user.firstname}}
              {{user.lastname}}
            </option>
            <option value="Other" [disabled]="!lineItem.extraItem">Other</option>
          </select>
          <small [hidden]="checkOutBy.valid || lineItem.extraItem == true" class="text-danger">
            Checked out by is required.
          </small>
        </div>
        <div class="form-group">
          <label for="notes">Notes</label>
          <textarea type="text" name="notes" class="form-control" id="notes" maxlength="140"
                    placeholder="Write any notes about the line item here (optional)"
                    [(ngModel)]="lineItem.notes"></textarea>
        </div>
        <div class="form-group" *ngIf="newLineItem || lineItem.extraItem">
          <label for="serviceType">Service Type</label>
          <select name="serviceType" class="form-control" id="serviceType" [disabled]="lineItem.extraItem == false"
                  [(ngModel)]="lineItem.serviceType" [required]="lineItem.extraItem == true" #serviceType="ngModel">
            <option></option>
            <option *ngFor="let extraItem of extraItems" [value]="extraItem.itemName">{{extraItem.itemName}}</option>
            <option value="Annual Registration Fee">Annual Registration Fee</option>
          </select>
          <small [hidden]="serviceType.valid || lineItem.extraItem == false" class="text-danger">
            Service type is required.
          </small>
        </div>
        <p-footer>
          <button type="submit" pButton icon="fa-check"
                  [disabled]="!lineItemDetailsForm.form.valid" label="Save"></button>
          <button *ngIf="newLineItem === false" type="button" pButton class="ui-button-danger" icon="fa-trash"
                  (click)="confirmDeleteLineItem(lineItem._id)" label="Delete"></button>
        </p-footer>
      </p-dialog>
    </form>
    <p-confirmDialog></p-confirmDialog>
  </div>
  <br>
  <!--TODO: Try to make invoice range input wider-->
  <div class="row justify-content-center">
    <form class="form-inline" #createInvoiceForm="ngForm" (submit)="confirmCreateInvoice()">
      <div class="form-group">
        <label for="invoiceRangeText" class="sr-only">Invoice Range Text</label>
        <input type="text" readonly class="form-control-plaintext" id="invoiceRangeText" value="Invoice Range: ">
      </div>
      <div class="form-group mx-sm-5">
        <label for="invoiceRange" class="sr-only">Invoice Range</label>
        <p-calendar id="invoiceRange" name="invoiceRange" required validateDateRange [(ngModel)]="invoiceRange"
                    selectionMode="range" readonlyInput="true" [disabledDays]="[0,2,3,4,6]" [showIcon]="true"
                    ngModel></p-calendar>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!createInvoiceForm.form.valid">
        <i class="fa fa-plus"></i>
        Create Invoice
      </button>
    </form>
  </div>
  <br>
  <div class="row justify-content-center">
    <app-back-button></app-back-button>
  </div>
</div>
<br>
<br>
