<div class="container">
  <app-error-alert [status]="nonExtraPriceListStatus"></app-error-alert>
  <p-dataTable [value]="nonExtraPriceList" [editable]="true" [loading]="nonExtraPriceListLoading"
               loadingIcon="fa-spinner">
    <p-header>Childcare Rates</p-header>
    <p-column field="itemName" header="Name"></p-column>
    <p-column field="itemValue" header="Value" [editable]="true">
      <ng-template let-col let-rate="rowData" pTemplate="body">
        {{rate[col.field]|currency:'USD':true }}
      </ng-template>
    </p-column>
    <p-footer>
      <button type="button" class="btn btn-success" (click)="saveChanges()">Save Changes</button>
    </p-footer>
  </p-dataTable>
  <br>
  <app-error-alert [status]="extraPriceListStatus"></app-error-alert>
  <p-dataTable [value]="extraPriceList" [editable]="true" [loading]="extraPriceListLoading"
               loadingIcon="fa-spinner">
    <p-header>Extra Childcare Rates</p-header>
    <p-column field="itemName" header="Name"></p-column>
    <p-column field="itemValue" header="Value" [editable]="true">
      <ng-template let-col let-rate="rowData" pTemplate="body">
        {{rate[col.field]|currency:'USD':true }}
      </ng-template>
    </p-column>
    <p-footer>
      <button type="button" class="btn btn-success" (click)="saveChanges()">Save Changes</button>
    </p-footer>
  </p-dataTable>
  <br>
  <div class="row justify-content-md-center">
    <app-back-button></app-back-button>
  </div>
</div>
