<div class="container">
  <p-dataTable [value]="rates" [editable]="true">
    <p-column field="name" header="Name"></p-column>
    <p-column field="value" header="Value" [editable]="true">
      <ng-template let-col let-rate="rowData" pTemplate="body">
        {{rate[col.field]|currency:'USD':true }}
      </ng-template>
    </p-column>
    <p-footer>
      <button type="button" class="btn btn-success" (click)="saveChanges()">Save Changes</button>
      <app-back-button></app-back-button>
    </p-footer>
  </p-dataTable>
</div>
