<br>
<br>
<div class="container">
  <app-error-alert [status]="familiesStatus"></app-error-alert>
  <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
    <input #gb type="text" pInputText size="50" placeholder="Global Filter">
  </div>
  <p-dataTable [value]="families" [rows]="10" [paginator]="true" [globalFilter]="gb" selectionMode="single"
               [(selection)]="selectedFamily" [loading]="loading" loadingIcon="fa-spinner"
               (onRowSelect)="onRowSelect($event) " #dt>
    <p-header>Parents</p-header>
    <p-column field="familyName" header="Family Name"></p-column>
  </p-dataTable>
</div>
