<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-8 col-md-offset-2">
      <app-context-help [pageName]="'reset-password'"></app-context-help>
      <h2>Reset Password</h2>
      <br>
      <p-growl [(value)]="msgs" [baseZIndex]="9999" [sticky]="true"></p-growl>
      <br>
      <p>Username: {{username}}</p>
      <form #resetPasswordForm="ngForm" (ngSubmit)="resetPassword(resetPasswordForm)">
        <div class="form-group">
          <label for="newPassword">New Password</label>
          <input type="password" name="newPassword" class="form-control" required id="newPassword"
                 placeholder="New Password" [(ngModel)]="newPassword" #userPassword="ngModel" minlength="8"
                 maxlength="20" pPassword>
          <small [hidden]="userPassword.valid" class="text-danger">
            Password is required (minimum 8 characters, maximum 20 characters).
          </small>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!resetPasswordForm.form.valid">
          <i class="fa fa-check"></i>
          Reset Password
        </button>
        <app-back-button></app-back-button>
      </form>
    </div>
  </div>
</div>
