<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-8 col-md-offset-2">
      <h2>Reset Password</h2>
      <br>
      <app-error-alert [status]="resetPasswordStatus"></app-error-alert>
      <app-success-alert [status]="resetPasswordStatus"></app-success-alert>
      <br>
      <p>Username: {{username}}</p>
      <form #resetPasswordForm="ngForm" (ngSubmit)="resetPassword(resetPasswordForm)">
        <div class="form-group">
          <label for="newPassword">New Password</label>
          <input type="password" name="newPassword" class="form-control" required id="newPassword"
                 placeholder="New Password" [(ngModel)]="newPassword" #userPassword="ngModel" minlength="8" pPassword>
          <small [hidden]="userPassword.valid" class="text-danger">
            Password is required (minimum 8 characters).
          </small>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!resetPasswordForm.form.valid">Reset Password
        </button>
        <app-back-button></app-back-button>
      </form>
    </div>
  </div>
</div>
